<div class="about-page">
  <div class="about-page-splash">
    <img src="/img/logo-white.png" alt="Logo" />
    <h1>Building the digital economy<br>one person at a time</h1>
  </div>
  {{> block-text
    title="Our Story"
    text="
      London School of Digital Marketing (LSDM) is passionate about sharing the latest skills
      and knowledge from the industry to equip tomorrow's marketers. We are the product of a
      partnership with Digital Marketing Institute, the global certification standard in
      Digital Marketing. With collaboration with global digital experts to define and develop
      the skills and qualifications required of today's digital professionals. LSDM is a pioneer
      in education and strives to build the digital economy one person at a time.
    "
  }}
  <div class="fold">
    <div class="default-column">
      <div class="content-row">
        <div class="fold-block">
          <h1 class="green">18k+</h1>
          <div class="secondary-text">
            Graduates trained by DMI
          </div>
        </div>
        <div class="fold-block">
          <h1 class="green">80</h1>
          <div class="secondary-text">
            Countries
          </div>
        </div>
        <div class="fold-block">
          <h1 class="green">1</h1>
          <div class="secondary-text">
            Industry Standard
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-blue">
    {{> block-text
      title="What We Do"
      text="
        London School of Digital Marketing is bridging the gap between job seekers<br>and companies
        needing talent with relevant skills.
      "
    }}
    <div class="information-row">
      <div class="content-column">
        <div class="content-row">
          <div class="information-block">
            <img src="/img/about/individuals.png" />
            <div>
              <h3>Training Individuals and Professionals</h3>
              <ul>
                <li>
                  Stay ahead of the curve and build vital skills needed at all professional levels
                </li>
                <li>
                  A digital certification from London School of Digital Marketing connects you
                  with an elite network globally
                </li>
                <li>
                  Change career and boost the chances of landing your dream job
                </li>
              </ul>
            </div>
          </div>
          <div class="information-block">
            <img src="/img/about/companies.png" />
            <div>
              <h3>Training Small and Large Companies</h3>
              <ul>
                <li>
                  Customised training to upskill your employees and transform the way you do
                  business
                </li>
                <li>
                  London School of Digital Marketing can provide specialized, flexible, scalable
                  training that meets your digital education needs
                </li>
                <li>
                  As the customer has run ahead, the digital skills of your workforce are more
                  important than ever
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block-beige">
    {{> block-text title="Why London School of Digital Marketing" }}
    <div class="information-row">
      <div class="content-column">
        <div class="content-row">
          <div class="information-block">
            <img src="/img/about/syllabus.png" />
            <div>
              <h3>Industry Validated Syllabus</h3>
              <div class="secondary-text">
                Our courses are reviewed by the Syllabus Advisory Council which is composed of leading
                digital companies including Google, Facebook, Twitter and LinkedIn
              </div>
            </div>
          </div>
          <div class="information-block">
            <img src="/img/about/global.png" />
            <div>
              <h3>Internationally Recognized</h3>
              <div class="secondary-text">
                Upon completion of your course, you will receive an industry-recognized, globally
                respected qualification
              </div>
            </div>
          </div>
          <div class="information-block">
            <img src="/img/about/knowledge.png" />
            <div>
              <h3>Up-To-Date Industry Knowledge</h3>
              <div class="secondary-text">
                Our specialist product team work closely with leading industry experts to create,
                review and update your course content on a continuous basis
              </div>
            </div>
          </div>
          <div class="information-block">
            <img src="/img/about/experts.png" />
            <div>
              <h3>Leading Digital Experts</h3>
              <div class="secondary-text">
                Our courses are designed and delivered by expert practitioners who work and excel
                ina variety of digital specialisms
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
