<div class="contact">
  <div class="contact-splash">
    <div class="contact-splash-col">
      <h1>Contact Us</h1>
      <h3>
        Have a question for our team? Whether you're interested in working with us, need an
        expert opinion - or just want to find out more about what we do, we'd love to hear from
        you.
      </h3>
    </div>
  </div>
  <div class="contact-form">
    <div class="default-column">
      <div class="content-row">
        <div class="contact-form-title">
          <h3>Discuss the course, funding and your eligibility.</h3>
          <h3>Complete the form and our admissions team will be in touch.</h3>
        </div>
          <form id="contact-form" action="/forms/contact-form" method="post">
            <div class="contact-form-input">
              <input name="firstname" type="text" placeholder="First Name*" required />
            </div>
            <div class="contact-form-input">
              <input name="lastname" type="text" placeholder="Last Name*" required />
            </div>
            <div class="contact-form-input">
              <input name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="email" placeholder="Email*" required />
            </div>
            <div class="contact-form-input">
              <input name="phone" type="text" placeholder="Phone Number*" required />
            </div>
            <div class="contact-form-input">
              <input name="company" type="text" placeholder="Company" />
            </div>
            <div class="contact-form-textarea">
              <textarea name="query" placeholder="Tell us how we can help."></textarea>
            </div>
            <div class="contact-form-buttons">
              <div class="formStatus"></div>
              <div class="action-block">
                <button class="action-link">
                  SUBMIT
                </button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
