<div class="diagnostic-tool">
  <div class="diagnostic-tool-body">
    <div class="diagnostic-tool-form">
      <div class="card-header">
        <h3 id="card-header" class="card-header-content">Get Started</h3>
      </div>
      <div>
        Sorry, our Diagnostic Tool is not quite ready yet.
      </div>
      <!-- <form action="/diagnostic-tool/start" method="post">
        <p>We just need some information from you first.</p>
        <input name="firstname" class="contactfield required" type="text" placeholder="First name*" required></input>
        <input name="lastname" class="contactfield required" type="text" placeholder="Last name*" required></input>
        <input name="phone" class="contactfield required" type="text" maxlength="15" pattern="\d*" placeholder="Phone number*" required></input>
        <input name="email" class="contactfield required" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="email" placeholder="Email*" required></input>
      </form> -->
    </div>
  </div>
</div>
