<div class="enrol-page">
  <div class="content-row">
    <div class="content-column">
      <div class="enrol-title">
        <h1>{{course.name}}</h1>
        <h3>{{deal.date}}</h3>
        <h3>{{deal.location}}</h3>
        <h3>£{{course.price}}</h3>
      </div>
      <div class="enrol-form">
        <h1>Enrolment Complete!</h1>
        <h5>We will contact you shortly with more information.</h5>
      </div>
    </div>
  </div>
</div>
