<div class="business">
  <div class="splash">
    <div class="default-column">
      <div class="content-row">
        <div class="splash-text">
          <h1>Transform your<br>team's digital<br>skills</h1>
          <h6>
            London School of Digital Marketing's certified digital learning courses
            enables companies to up-skill their digital capabilities and create
            the digital business leaders of tomorrow.
          </h6>
          <div class="action-block splash-action">
            <a href="/contact-us" class="action-link">CONTACT US</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fold">
    <div class="default-column">
      <div class="content-row">
        <div class="fold-image">
          <img src="/img/business/stats.png" />
        </div>
        <div class="fold-image">
          <img src="/img/business/light.png" />
        </div>
        <div class="fold-image">
          <img src="/img/business/tablet.png" />
        </div>
        <div class="fold-text blue">
          <h1>81%</h1>
          <h6>of graduates have been <span class="colour">promoted</span> after completing their diploma</h6>
        </div>
        <div class="fold-text red">
          <h1>95%</h1>
          <h6>of our Professional Diploma level graduates are <span class="colour">currently employed</span></h6>
        </div>
        <div class="fold-text green">
          <h1>74%</h1>
          <h6>of those graduates are employed in <span class="colour">digital marketing roles</span></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="information">
    <div class="default-column">
      <div class="information-title">
        <h1>Customised Training Courses</h1>
        <hr>
        <h3>In-person training at your office or at our office</h3>
      </div>
      <div class="content-row">
        <div class="information-block">
          <img src="/img/business/leadership.png" />
          <div>
            <h3>Digital Leadership</h3>
            <div class="secondary-text">
              Enable leaders to adopt an entrepreneurial mindset to reach all levels and
              overcome the barriers that slow down new ideas.
            </div>
          </div>
        </div>
        <div class="information-block">
          <img src="/img/business/agile-training.png" />
          <div>
            <h3>Agile Training</h3>
            <div class="secondary-text">
              Accelerate product development and overcome organizational barriers through a uniform
              understanding of agile principles.
            </div>
          </div>
        </div>
        <div class="information-block">
          <img src="/img/business/product-management.png" />
          <div>
            <h3>Product Management</h3>
            <div class="secondary-text">
              Discover new methods for researching, developing and managing innovative digital products.
            </div>
          </div>
        </div>
        <div class="information-block">
          <img src="/img/business/user-experience.png" />
          <div>
            <h3>User Experience</h3>
            <div class="secondary-text">
              Build intuitive interactions between users and product. Apply the principles of quality
              UX to your unique business challenges.
            </div>
          </div>
        </div>
        <div class="information-block">
          <img src="/img/business/digital-marketing.png" />
          <div>
            <h3>Digital Marketing</h3>
            <div class="secondary-text">
              Develop fluency in today's most impactful marketing technologies including mobile,
              programmatic, social media and more.
            </div>
          </div>
        </div>
        <div class="information-block">
          <img src="/img/business/big-data.png" />
          <div>
            <h3>Big Data & Analytics</h3>
            <div class="secondary-text">
              Take advantage of big data's massive opportunity and learn to convert large data sets
              into meaningful stories and visualizations.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
