<div class="qf-Body">
  <div class="qf-Header default-row">
    <div class="default-column">
      <h1>Qualifications Framework</h1>
      <h5>
        London School of Digital Marketing courses are accredited by the Scottish
        Qualifications Authority (SQA) at Level 8 on the Scottish Credit and Qualifications
        Framework (SCQF). SCQF level 8 corresponds to level 5 on the European
        Qualifications Framework (EQF). Certification exams are available in 120 countries.
      </h5>
    </div>
  </div>
  <div class="qf-Images">
    <div class="default-column">
      <img src="/img/qualifications/main.png" alt="Qualifications Diagram">
    </div>
  </div>
  <div class="qf-TextHeader default-row">
    <div class="default-column">
      <h1>LSDM Qualifications Frameworks</h1>
      <h5>
        Our courses are accredited under The European Framework of Qualifications.
        This is an internationally recognized framework that forms the basis of
        all training and accreditation programs within the European union and
        easily mapped onto international accreditation programs. Our syllabus
        defines the framework of knowledge, skill and competency required to
        meet the current and future demands of the Digital economy, and our
        practical, industry-driven qualifications are recognised as the
        international standard in Digital Marketing certification.
      </h5>
    </div>
  </div>
  <div class="qf-Text default-row">
    <div class="qf-TextBlock">
      <h2>Syllabus Advisory Council</h2>
      <p>
        The Syllabus Advisory Council, representing the world’s largest
        and most influential digital brands such as Linkedin, WPP, IBM,
        Google, Facebook and Twitter to name but a few validates all London
        School of Digital Marketing course content. By providing expert
        review and recommendations on a regular basis, the Council ensures
        that graduates of the London School of Digital Marketing have learned the
        most up to date digital skills, core competencies and knowledge
        needed to thrive in their digital careers. The Syllabus Advisory
        Council works with London School of Digital Marketing to
        define the skills agenda and address the global digital skills
        shortage. The Council ensures that our courses are developed in
        alignment with the digital economy’s most in-demand digital needs and
        skillsets.
      </p>
      <img src="/img/qualifications/companies.png" alt="Companies">
    </div>
    <div class="qf-TextBlock">
      <h2>Compatibility</h2>
      <h5>
        All of our Qualifications are mapped into the European Qualifications
        Framework (EQF) and are also defined in terms of their position
        within the EHEA.
      </h5>
      <p>
        <strong>The European Qualifications Framework (EQF)</strong> is a
        “translation tool that helps communication and comparison between
        qualifications systems in Europe. Its eight common European reference
        levels are described in terms of learning outcomes: knowledge, skills
        and competences. This allows any national qualifications systems,
        national qualifications frameworks (NQFs) and qualifications in
        Europe to relate to the EQF levels. Learners, graduates, providers
        and employers can use these levels to understand and compare
        qualifications awarded in different countries and by different
        education and training systems.”
        <br>
        <br>
        <a href="http://ec.europa.eu/" target="_blank">http://ec.europa.eu</a>
      </p>
      <p>
        <strong>The European Higher Education Area (EHEA)</strong> was launched in March 2010,
        and is designed to ensure more comparable, compatible and coherent systems
        of higher education in Europe. It is designed to foster student
        mobility and employability through the introduction of a system
        based on undergraduate and postgraduate studies with easily readable
        programmes and degrees.
        <br>
        <br>
        <a href="http://www.ehea.info/" target="_blank">http://www.ehea.info</a>
      </p>
    </div>
  </div>
</div>
