<div class="courses">
  <div class="courses-splash">
    <div class="default-column">
      <div class="content-row">
        <div class="courses-splash-text">
          <h1>{{testimonial.Title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="courses-main">
    <div class="default-column">
      <div class="content-row">
          <div class="testimonial-content">
            <img class="testimonial-image" src={{testimonial.Picture.data.url}}>
            {{{encodeMyString testimonial.content}}}
          </div>
      </div>
    </div>
  </div>
</div>
