<div class="contact">
  <div class="contact-splash">
    <div class="contact-splash-col">
      <h1>Contact Us</h1>
      <h5>
        Have a question for our team? Whether you're interested in working with us, need an
        expert opinion - or just want to find out more about what we do, we'd love to hear from
        you.
      </h5>
    </div>
  </div>
  <div class="default-row">
    <h2>
      Thank you for contacting us, we will get back to you as soon as we can.
    </h2>
  </div>
</div>
