@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "partials";
@import "variables";
@import "classes";
@import "layout";
@import "rows";

body {
  color: $primary-text-dark;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  & h1 {
    font-size: 48px;
  }

  & h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
  }

  & button:focus, span:focus {
    outline: 0;
  }

  & img {
    width: 100%;
  }

  & hr {
    border: 1px solid $primary-green;

    @include media-breakpoint-up(lg) {
        width: 50%;
    }
  }

  & a,a:hover,a:focus,a:active {
    color: inherit;
    text-decoration: none;
  }

  & div[class$='page'] {
    margin-top: 133px;
    @include media-breakpoint-up(md) { margin-top: 136px; }
  }
}
