{{#> Layout}}
  {{#*inline "content"}}
    {{> Header}}
    <div class="error-page">
      <div class="content-row">
        <div class="content-column">
          <h3>{{error}}</h3>
        </div>
      </div>
    </div>
    {{> Footer}}
  {{/inline}}
{{/Layout}}
