<div class="blogFooter">
  <div class="blogFooter_Content">
    <div class="blogFooter_Author">
      <h2>ABOUT THE AUTHOR</h2>
      <div class="blogAuthor_Info">
        <img class="blogAuthor_Avatar" src="{{author.avatar}}" alt="Avatar">
        <div class="blogAuthor_Text">
          <h2 class="blogAuthor_Name">{{author.name}}</h2>
          <a href="{{author.facebook}}" alt="Facebook" target="_blank">
            <img class="blogFooter-Author_LinkImage" src="/img/icons/facebook_circle.png" alt="Facebook" target="_blank">
          </a>
        </div>
      </div>
    </div>
    <div class="blogFooter-Company">
      <h2>FIND LSDM</h2>
      <div class="blogFooter-Company_Links">
        <a class="blogFooter-Company_Link" href="https://twitter.com/LdnMktg" target="_blank">
          <img class="blogFooter-Company_LinkImage" src="/img/icons/twitter.png" alt="Twitter">
        </a>
        <a class="blogFooter-Company_Link" href="https://www.facebook.com/London-School-of-Digital-Marketing-1759080514418473/" target="_blank">
          <img class="blogFooter-Company_LinkImage" src="/img/icons/facebook.png" alt="Facebook">
        </a>
      </div>
    </div>
  </div>
</div>
