<div class="share-buttons {{class}}">
  <div class="fb-share-button"
    data-href="https://www.londonschoolofdigitalmarketing.com/blog/{{id}}/{{link}}"
    data-layout="button"
    data-size="large">
  </div>
  <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet"
    data-size="large"
    data-via="LdnMktg">
  Tweet</a>
</div>
