<div class="information-row">
  <div class="content-column">
    <div class="content-row">
      {{#each info}}
        <div class="information-block">
          <img src="{{image}}" />
          <div>
            <h3>{{title}}</h3>
            {{#if ../hr}}<hr>{{/if}}
            {{text}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
