<div class="course-payment">
  <div id="enrol-now" class="bookmark"></div>
  <div class="default-column">
    <h1>Apply Now</h1>
    <h5>Please select the city you would like to study in:</h5>
    <form id="city-filter" class="course-payment-city-select filter">
      <input type="text" name="course" value="{{id}}"></input>
      <select name="city">
        <option value="0" disabled selected hidden>Choose a City</option>
        <option class= "option" value="Birmingham">Birmingham</option>
        <option class= "option" value="Bournemouth">Bournemouth</option>
        <option class= "option" value="London">London</option>
      </select>
      <div class="formStatus"></div>
    </form>
    <div class="course-payment-date-select">
      <table>
        <thead>
          <tr>
            <th>City<hr></th>
            <th>Dates<hr></th>
            <th>Price<hr></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
