<footer class="footer">
  <div class="footer-email">
    <div class="default-column">
      <div class="row-title">
        <h1>Stay ahead of the pack. Subscribe to our Newsletter.</h1>
      </div>
      <form id="newsletter" class="footer-email-input">
        <input name="email" placeholder="Email Address..." required />
        <button>
          <svg role="img" title="submit">
            <use xlink:href="/img/icons/map.svg#submit" href="/img/icons/map.svg#submit" />
          </svg>
        </button>
        <div class="formStatus"></div>
      </form>
      <div class="footer-email-subtext">
        <span>By providing us your email, you agree to the terms of our </span>
        <a href="/privacy-policy">Privacy Policy</a>
      </div>
    </div>
  </div>
  <!-- <div class="footer-contact">
    <div class="default-column">
      <h2>Take the next step</h2>
      <div class="content-row">
        <div class="information-block">
          <img src="/img/footer/courses.png"/>
          <div>
            <h3>Get full course information</h3>
            We'll send you a fulll course brochure, course offers, and career guidance.
            {{> block-action element="a" href="/courses" label="View All Courses"}}
          </div>
        </div>
        <div class="information-block">
          <img src="/img/call.png"/>
          <div>
            <h3>Speak to our admission team</h3>
            <div>Discuss courses, funding and eligibility.</div>
            <a href="tel:020-3732-0578">
              <h4 class="green">020 3732 0578</h4>
            </a>
            <div class="subtext">We're open 9am-8pm GMT on weekdays and 10am-1pm on weekends</div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer-links">
    <div>
      <div class="footer-links-left">
        <img src="/img/logo-green.png" />
        <a href="/about-us">About Us</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/contact-us">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
