<div class="header-main-logo">
  <a href="/">
    <img src="/img/logo-green.png"/>
    <span class="header-main-logo-text">
      <div>
        <span>LONDON SCHOOL</span>
        <em>of</em>
      </div>
      <div>
        <strong>DIGITAL</strong>
      </div>
      <div>MARKETING</div>
    </span>
  </a>
</div>
