<div class="modules">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each shortCourses}}
        <div class="swiper-slide">
          <div class="slideMain">
            <img class="slideImage" src="{{image.data.url}}" />
            <div class="slideTitle">{{name}}</div>
            <div class="slideContent">
              <ul class="slideContent_List">
                {{#each course_content}}
                  <li class="slideContent_Item">{{this}}</li>
                {{/each}}
                <li>and more...</li>
              </ul>
            </div>
            <div class="slideLength">
              <svg role="img" title="time">
                <use xlink:href="/img/icons/map.svg#time" href="/img/icons/map.svg#time" />
              </svg>
              <span>3 Hours of Content</span>
            </div>
            <div class="action-block">
                <a href="/courses/{{link}}" class="action-link">MORE INFO</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>
</div>
