<div class="home-stories">
  <div class="default-column">
    <div class="row-title">
      <h1>After completing the course</h1>
      <div>
        Over 80% of last year's graduates now work in digital. Take control of your career and
        maximize your potential - just ask our students!
      </div>
    </div>
    <div class="content-row">
      <div class="home-stories-student">
        <div>
          <img src="/img/person.jpg" />
          <div class="student-label">
            <span>
              <div>Joe</div>
              <div class="secondary-text">Masters</div>
            </span>
            <img src="/img/logo.png" />
          </div>
        </div>
      </div>
      <div class="home-stories-student">
        <div>
          <img src="/img/person.jpg" />
          <div class="student-label">
            <span>
              <div>Joe</div>
              <div class="secondary-text">Masters</div>
            </span>
            <img src="/img/logo.png" />
          </div>
        </div>
      </div>
      <div class="home-stories-student">
        <div>
          <img src="/img/person.jpg" />
          <div class="student-label">
            <span>
              <div>Joe</div>
              <div class="secondary-text">Masters</div>
            </span>
            <img src="/img/logo.png" />
          </div>
        </div>
      </div>
      <div class="action-block">
        <a href="/reviews" class="action-link">SEE MORE</a>
      </div>
    </div>
  </div>
</div>
