<div class="diagnostic">
  <div class="default-column">
    <div class="content-row">
      <div class="diagnostic-image">
        <img src="/img/mac.png" />
      </div>
      <div class="diagnostic-text">
        <div class="diagnostic-title">
          <h1>How strong are your Digital Marketing skills?</h1>
          <div>
            Take our 15 minute FREE Diagnostic and benchmark your skills against your professional competition
          </div>
        </div>
        <div class="diagnostic-action">
          <div class="action-block">
            <a href="/diagnostic-tool/start" class="action-link" target="_blank">START</a>
          </div>
        </div>
        <div class="diagnostic-subtext">
          <strong>Topics covered include:</strong>
          <div>SEO, PPC, Email, Social, Mobile and Analytics</div>
        </div>
      </div>
    </div>
  </div>
</div>
