<header class="header">
  <div class="header-main small-header-main">
    <div class="content-column">
      <div class="content-row">
        {{> header-logo}}
        <div class="header-main-contact small-header-contact">
          <div>
            <img src="/img/call.png" />
            <a href="tel:+4420-3914-2212">
              <span>+4420 3914 2212</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
