@import "variables";

.module, .stories, .story {
  @extend .content;
}

.content-column {
  @extend .default-column;
}

.blue-splash {
  @extend .default-row;
  background-color: $primary-blue;
  color: $primary-text-light;
  text-align: center;
  @include media-breakpoint-up(md) {
    padding: 20vh 0;
    span {
      display: block;
    }
  }
}

.enrol-page {
  @extend .row;
  background-color: $primary-blue;
  color: $primary-text-light;
  margin-top: 0 !important;
  min-height: 100vh;
  padding-top: 170px;

  & img {
    box-shadow: 6px 6px 0px 0px #758189;
    margin-bottom: 1rem;
    width: 50%;
  }

  & h1 {
    color: $primary-green;
    margin-bottom: 2rem;
    text-align: left;
  }
}

.enrol-title {
  @extend .col-xs-12, .col-sm-6;
  margin-bottom: 2rem;
}

.enrol-form {
  @extend .col-xs-12, .col-sm-6;

  & form {
    background-color: $primary-white;
    box-shadow: 6px 6px 0px 0px #758189;
    padding: 1rem;
    text-align: center;
  }

  & input {
    margin-bottom: 1rem;
    height: 3rem;
    padding: 0.5rem;
    width: 100%;
  }

  & .small-input {
    display: flex;
    justify-content: space-between;

    & input {
      width: 48%;
    }
  }

  & .stripeLink {
    display: block;
    margin: 10px 0;
  }

  & .stripeImage {
    width: 30%;
  }

  & .cardLogos img {
    width: 48px;
  }
}

.modules {
  @extend .col-xs-12;
  padding: 0;

  & .swiper-wrapper {
    align-items: center !important;
    padding-bottom: 20px;
  }

  & .swiper-slide-active .slideMain {
    @include media-breakpoint-up(lg) {
      width: 100%;
    }
  }

  & .swiper-pagination {
    margin-bottom: 10px;
  }

  & .slideMain {
    border: 1px solid black;
    box-shadow: 3px 3px 0px 0px #758189;
    margin: 0 auto;
    width: 90%;

    & .slideImage {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }

    & .slideTitle {
      background-color: $primary-blue;
      color: $primary-text-light;
      font-weight: bold;
      padding: 20px 5px;
      text-align: center;
    }

    & .slideContent {
      align-items: center;
      background-color: white;
      display: flex;
      font-size: 90%;
      justify-content: center;
      min-height: 220px;
      text-align: center;

      &_List {
        columns: 2;
        column-gap: 10px;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      &_Item {
        margin: 10px 0;
      }
    }

    & .slideLength {
      background-color: $primary-white;
      display: flex;
      justify-content: center;
      padding: 10px;

      & span {
        line-height: 36px;
        margin-left: 5px;
      }

      & svg {
        fill: $primary-text-dark;
        height: 36px;
        width: 36px;
      }
    }

    & .action-block {
      background-color: $primary-white;
      padding-bottom: 10px;
    }
  }

  & .swiper-pagination {
    bottom: -15px !important;
  }

}

.student-block > * {
  box-shadow: 0px 1px 2px -1px black;
  display: block;
  margin-top: 2rem;

  & .student-label {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    & img {
      max-height: 3em;
      width: auto;
    }
  }
}

.header {
  background-color: white;
  box-shadow: 0px 1px 2px -1px black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;

  &.collapsed {

    & .header-main {
      padding-bottom: 10px;
    }

    & .header-main-logo span {
      display: none;
    }

    & .header-main-contact {
      position: absolute;
      left: 50px;
      right: 50px;
      top: -0.3rem;
      width: auto;
    }
  }

  @include media-breakpoint-up(md) {
    &.collapsed {

      & .header-main {
        max-height: 0;
        padding: 0;
        overflow-x: hidden;
      }

      & .header-nav {
        border: 0;
        height: 80px;
        margin-top: 0;
      }
    }
  }

  & img {
    height: 3rem;
    width: auto;
  }

  &-main, &-nav {
    @extend .row;
    transition: all 0.2s;
  }

  &-main {
    color: $primary-green;
    max-height: 100px;
    padding: 15px 15px 0 15px;

    &-logo {
      @extend .col-xs-9, .col-md-4;

      &-text {
        display: inline-block;
        font-size: 85%;
        margin-left: 0.5rem;
        vertical-align: middle;
      }
    }

    &-mobile {
      @extend .col-xs-3;
      text-align: right;
      @include media-breakpoint-up(md) { display: none; }

      & svg {
        height: 48px;
        width: 48px;
      }

      & button {
        border: none;
        background: none;
      }

      & .close-menu {
        padding-bottom: 0 !important;
        text-align: left;
      }

      & #mobile-nav:checked + div {
        top: 0;
        left: 0;
        right: 0;
        transition-delay: 0s;
      }

      & > div {
        background-color: $primary-white;
        color: $primary-text-dark;
        max-height: 100%;
        overflow-y: scroll;
        position: fixed;
        right: -500px;
        top: -500px;
        transition: all 0.15s 0.25s;
        z-index: 2;

        & ul {
          list-style-type: none;
          padding: 0;

          & a {
            display: inline-block;
            width: 100%;
          }

          & li:not(.sublist), div {
            padding: 1rem;
          }
        }

        & .sublist {

          & ul {
            background-color: $primary-blue;
            color: $primary-text-light;
          }

          & li:nth-child(n+3) {
            max-height: 0;
            padding: 0;
            transition: max-height 0.5s, padding 0.5s;

            & a {
              opacity: 0;
              transition: opacity 0.25s 0s;
            }
          }

          & input:checked + ul {

            & > li {
              max-height: 100px;
              padding: 1rem;

              & a {
                opacity: 1;
                transition: opacity 0.25s 0.25s;
              }
            }

            & label > svg {
              transform: rotate(180deg);
            }
          }

          & label {
            padding: 1rem 0;
            text-align: center;
            width: 100%;

            & svg {
              fill: $primary-white;
            }
          }
        }
      }

    }

    &-course, &-contact {
      line-height: 3rem;
      margin-top: 0.5rem;
    }

    &-course {
      @extend .col-xs-5, .col-md-4, .push-md-4;
      display: none;
      text-align: right;
      @include media-breakpoint-up(md) { display: block; }

      & > select {
        background-color: transparent;
        color: $primary-text-dark;
        width: 100%;
        @include media-breakpoint-up(lg) { width: 80%; }
      }
    }

    &-contact {
      @extend .col-xs-12, .col-md-4, .pull-md-4;
      font-size: 110%;
      font-weight: bold;
      text-align: center;
      @include media-breakpoint-up(md) {
        font-size: 125%;
        text-align: left;
      }
    }
  }

  &-nav {
    border-top: 1px solid $primary-grey;
    color: $primary-text-dark;
    display: none;
    height: 45px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    transition: height 0.1s;
    @include media-breakpoint-up(md) {
      align-items: center;
      display: flex;
    }

    & > div {
      align-items: center;
      display: flex;
      font-size: 85%;

      & a {
        flex: none;
      }

      & > img, a:not(:last-of-type) {
        margin-right: 1rem;
      }
    }

    & #button-anchor {
      align-items: flex-start;
      display: flex;
      justify-content: center;
      flex-grow: 2;
    }

    & #contact-anchor {
      align-self: flex-end;
      color: $primary-green;
      font-size: 125%;
      font-weight: bold;
      display: inline-block;
      text-align: right;
    }
  }
}

.footer {

  &-email {
    @extend .default-row;
    background-color: $primary-grey;
    color: $primary-text-light;
    text-align: center;

    &-input {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 48px;

      & > * {
        border: none;
      }

      & > input {
        box-shadow: 1px 1px 2px -1px black;
        outline: none;
        padding: 0.25rem 0.5rem;
        width: 80%;
      }

      & > button {
        background-color: $primary-green;
        border-left: 1px solid $primary-grey;
        box-shadow: 1px 1px 2px -1px black;
        display: flex;

        & svg {
          fill: $primary-white;
          height: 36px;
          width: 36px;
        }
      }

      & .formStatus {
        width: 80%;
      }
    }

    &-subtext {
      font-size: 80%;

      & > a {
        color: $primary-green;
      }
    }
  }

  &-contact {
    @extend .default-row;
    padding: 2rem 0;
    background-color: $primary-white;

    & .information-block {
      margin: 3rem 0 0 0;

      & img {
        width: 4rem;
        height: auto;
      }

      & .subtext {
        font-size: 80%;
      }

      & h4 {
        font-weight: bold;
        margin: 1rem 0;
      }

      & h5 {
        text-align: left;
      }

      & .action-block {
        justify-content: flex-start;
        margin-top: 1rem;

        & .action-link {
          padding: 0.75rem;
        }
      }
    }
  }

  &-links {
    @extend .row;
    color: $primary-green;

    & > div {
      @extend .col-xs-12;
      display: flex;
      justify-content: space-between;
    }

    &-left {
      padding: 1rem 0;

      & img {
          height: 2rem;
          width: auto;
      }

      & a {
        margin-left: 1rem;
      }
    }
  }
}

.home {
  @extend .content;

  &-splash {
    @extend .default-row;
    background-image: url(/img/mobile-bg.jpg);
    background-position: 0 50%;
    background-size: cover;
    @include media-breakpoint-up(sm) { display: flex; }
    @include media-breakpoint-up(md) {
      align-items: center;
      background-image: url(/img/home/splash.jpg);
      padding: 0.2rem 0;
      min-height: 65vh;
    }

    &-info {
      @extend .col-xs-12, .col-sm-6, .col-md-8;
      align-items: center;
      display: flex;

      & > div {
        background-color: rgba($primary-green, 0.6);
        color: white;
        text-align: center;
        padding: 1rem;

        & > h1 {
          margin-bottom: 2rem;
        }

        & svg {
          height: 48px;
          width: 48px;
          fill: white;

          @include media-breakpoint-up(sm) {
            display: none;
          }
        }

        & > h5 {
          display: none;
          @include media-breakpoint-up(sm) {
            display: block;
          }
        }

        & input:checked + h5 {
          display: block;

          & + label {
            transform: rotate(180deg);
          }
        }
      }
    }

    &-form {
      @extend .col-xs-12, .col-sm-6, .col-md-4;
      margin-top: 1rem;
      @include media-breakpoint-up(sm) {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;
      }

      & > div {
        align-self: center;
        background-color: $primary-white;
        border: 1px solid $primary-green;
        padding: 1rem;
        @include media-breakpoint-up(sm) { max-width: 325px; }

        & h4 {
          color: $primary-green;
        }

        & form > * {
          margin-top: 1rem;
        }

        & select, input {
          background-color: $primary-white;
          border: 1px solid $primary-grey;
          border-radius: 3px;
          padding: 0.25rem;
          width: 100%;
        }

        & .small-input {
          display: flex;
          justify-content: space-between;

          & > input {
            width: 48%;
          }
        }

        & button {
          border: none;
        }
      }

      & .link-block {
        text-align: center;
      }
    }
  }

  &-courses {
    @extend .default-row;
    background-color: $primary-blue;
    color: $primary-text-light;

    &-text, &-image {
      @extend .col-xs-12, .col-md-6;
      display: flex;
      justify-content: center;

      & > * {
        margin-bottom: 2rem;
      }
    }

    &-image {
      flex-wrap: nowrap;

      & img {
        box-shadow: 6px 6px 0px 0px #758189;
        height: auto;
        max-height: 350px;
        max-width: 100%;
        width: auto;
        @include media-breakpoint-up(md) {
          margin-bottom: 0;
          max-height: 500px;
        }
      }
    }

    &-text {
      flex-direction: column;

      & > .action-block {
        justify-content: flex-start;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }

  &-stories {
    @extend .default-row;
    background-color: #455560;
    color: $primary-text-light;

    &-student {
      @extend .col-xs-6, .col-sm-4;

      & > div {
        box-shadow: 6px 6px 0px 0px #758189;
      }

      & .student-label {
        background-color: $primary-text-light;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 0.5rem;

        & img {
          max-height: 48px;
          width: auto;
        }
      }
    }

    & .action-block {
      @extend .col-xs-6, .col-sm-12;
    }
  }
}

.diploma {
  @extend .content;

  &-splash {
    @extend .default-row;
    background-color: $primary-grey;
    color: $primary-text-light;
    @include media-breakpoint-up(md) {
      align-items: center;
      background-image: url('/img/diploma/splash.png');
      background-position: 50% 50%;
      background-size: cover;
      display: flex;
      height: 65vh;
      padding: 0;
    }

    &-text {
      @extend .module-splash-text;

      & h1 {
        font-size: 300%;
      }

      & > * {
        margin: 2rem 0;
      }
    }

    &-action {
      text-align: center;
      @include media-breakpoint-up(md) { text-align: left; }

      & .action-block {
        margin: 1rem 0 0 0;
      }
    }
  }

  &-highlights {
    @extend .default-row;
    background-color: $primary-white;

    & .default-column {
      @extend .col-lg-11, .col-xl-10;
    }

    &-image, &-text {
      @extend .col-xs-12, .col-md-6, .offset-md-0;
    }

    &-image {
      @extend .col-sm-10, .offset-sm-1, .push-md-6;
      @include media-breakpoint-up(md) {
        padding-right: 0;
        text-align: right;

        & img {
          content:url('/img/diploma/highlights-crop.png');
          width: 100%;
        }
      }
    }

    &-text {
      @extend .pull-md-6;
      margin-top: 2rem;
      @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        & h1 {
          margin-bottom: 2rem;
        }
      }
    }
  }

  & .whos-it-for {
    @extend .default-row;

    & .row-title {
      @extend .col-xs-12;
    }

    & .content-block {
      @extend .col-xs-12, .col-sm-6;
      margin: 2rem 0;
    }
  }

  &-modules {
    @extend .default-row;
    background-color: $primary-grey;

    &-title {
      color: $primary-white;
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
    }
  }

  & .outcomes {
    @extend .default-row;
    background-color: $primary-white;

    & .content-block {
      @extend .col-xs-12;
      margin: 3rem 0;
    }
  }
}

.business {
  @extend .content;

  & .splash {
    @extend .default-row;
    background-color: $primary-grey;
    @include media-breakpoint-up(md) {
      align-items: center;
      background-image: url('/img/business/splash.jpg');
      background-size: cover;
      background-position: 75% 45%;
      display: flex;
      height: 58vh;
    }
    color: $primary-text-light;
    padding: 8rem 0;

    &-text {
      @extend .col-xs-12, .col-md-4;
    }

    &-action {
      justify-content: flex-start;
      margin-top: 2rem;

      & > button {
        border: none;
      }
    }
  }

  & .fold {
    @extend .default-row;
    background-color: white;
    padding: 2rem 0;

    &-image {
      @extend .col-xs-4;
      align-items: center;
      display: flex;
      justify-content: center;

      & img {
        height: auto;
        max-width: 5rem;
      }
    }

    &-text {
      @extend .col-xs-4;
      margin-top: 1rem;
      text-align: center;

      &.blue {
        & h1, .colour {
            color: #7ccfdb;
        }
      }

      &.red {
        & h1, .colour {
            color: #ed774d;
        }
      }

      &.green {
        & h1, .colour {
            color: #99cc64;
        }
      }
    }
  }

  & .information h5 {
    margin-bottom: 1rem;
    text-align: left;
  }
}

.diagnostic-tool {
  @extend .row;

  &-header {
    @extend .col-xs-12;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;

    & .header-main-logo {
      @extend .col-xs-9;

      & span {
        display: none;
      }
    }

    & > * {
      margin: 0;
    }

    & img {
      height: 3rem;
      width: auto;
    }
  }

  &-body {
    @extend .col-xs-12;
    align-items: center;
    background-color: $primary-blue;
    display: flex;
    justify-content: center;
    height: 100vh;

    & h3 {
      color: $primary-green;
    }
  }

  &-form {
    @extend .diagnostic-tool-card;
    // width: 50%;

    & form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & p {
      align-self: flex-start;
      margin-top: 1rem;
    }

    & input, .action-block {
      justify-content: flex-end;
      margin-top: 2rem;
      padding: 1rem;
      width: 80%;
    }
  }

  &-card {
    @extend .col-xs-10;
    background-color: $primary-white;
    box-shadow: 6px 6px 0px 0px #758189;
    height: 80%;

    & > .card-header {
      @extend .row;
      align-items: center;
      border-bottom: 2px solid black;
      display: flex;
      height: 15%;
      justify-content: space-between;

      &-content {
        @extend .col-xs-12;
      }
    }

    & > .card-question {
      @extend .row;
      height: 25%;
      display: flex;
      align-items: center;

      & > h3 {
        @extend .col-xs-12;
      }
    }

    & > .card-choices {
      @extend .row;
      height: 50%;
      display: flex;
      flex-wrap: wrap;

      & > .action-block {
        @extend .col-xs-6;
        min-height: 25%;

        & > .action-link {
          text-align: left;
          min-width: 60%;

          &.choice-active > #checked {
            display: inline-block;
          }

          &.choice-active > #unchecked {
            display: none;
          }
        }
      }

      & svg {
        fill: white;
        height: 48px;
        margin-right: 1rem;
        vertical-align: middle;

        &.hidden {
          display: none;
        }
      }
    }

    & > .card-buttons {
      @extend .row;

      & > div {
        @extend .col-xs-12;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.privacy {
  @extend .content;

  &-splash {
    @extend .row;
    align-items: center;
    background-image: url(/img/privacy/splash.jpg);
    background-size: cover;
    color: $primary-text-light;
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(md) {
      height: 50vh;
    }
  }

  &-content {
    @extend .default-row;
    background-color: $primary-white;

    & > .default-column > * {
      margin-bottom: 1rem;
    }
  }
}

.contact {
  @extend .content;
  text-align: center;

  &-splash {
    @extend .default-row;
    align-items: center;
    background-color: $primary-blue;
    color: $primary-text-light;
    display: flex;
    @include media-breakpoint-up(md) {
      background-image: url('/img/contact/contact-splash.jpg');
      background-size: cover;
      background-position: 75% 45%;
      height: 58vh;
    }

    &-col {
      @extend .col-xs-12, .col-md-6, .offset-md-3;
    }
  }

  &-form {
    @extend .default-row;
    background-color: $primary-white;

    &-title, &-input, &-textarea, &-error, &-buttons {
      @extend .col-xs-12;
    }

    &-input, &-textarea, &-buttons {
      margin-top: 1rem;

      & input, textarea {
        padding: 0.5rem;
        width: 100%;
      }
    }

    & form {
      width: 100%;
    }

    &-input {
      @extend .col-md-4;
    }

    &-textarea > textarea {
      min-height: 300px;
    }

    &-error {
      color: red;
      text-align: left;
    }

    &-buttons {
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-end;
      @include media-breakpoint-up(sm) {
        flex-direction: row;
      }

      & > div {
        margin-top: 1rem;
      }
    }
  }
}

.courses {
  @extend .content;

  &-main {
    @extend .default-row;
  }

  &-splash {
    @extend .base-splash;
    background-color: $primary-grey;
    color: $primary-text-light;
    @include media-breakpoint-up(md) {
      background-image: url('/img/courses/splash.png');
      background-position: 0 95%;
      background-size: cover;
      align-items: center;
      display: flex;
      height: 65vh;
      padding: 0;
    }

    &-text {
      @extend .col-xs-12, .col-md-6;
    }

    &-action {
      justify-content: flex-start;
      margin: 2rem 0 1rem 0;
    }
  }

  &-main {
    background-color: $primary-white;
    text-align: center;

    &-title, &-diploma {
      @extend .col-xs-12, .col-md-10, .offset-md-1;

      &, & > * {
        margin-bottom: 1rem;
      }
    }

    &-diploma {

      & > div {
        background-color: white;
        overflow: auto;
        padding: 1rem;
      }

      &-image {
        @extend .col-xs-12, .col-sm-3;

        & img {
          box-shadow: 0px 1px 2px -1px black;
          width: 70%;
          @include media-breakpoint-up(sm) { width: 100%; }
        }
      }

      &-text {
        @extend .col-xs-12, .col-sm-9;
        text-align: left;

        & > * {
          margin-top: 2rem;
        }
      }

      & .action-block {
        justify-content: space-between;
        @include media-breakpoint-up(md) { justify-content: flex-start; }

        & .action-link {
          width: 48%;
          @include media-breakpoint-up(md) {
            margin-right: 1rem;
            width: auto;
          }
        }
      }
    }
  }
}

.stories {

  &-splash {
    @extend .blue-splash;
  }

  &-content {
    @extend .default-row;
    background-color: $primary-white;

    &-student-block {
      @extend .col-xs-12, .col-sm-6, .col-md-4, .student-block;
    }
  }
}

.story {

  &-splash {
    @extend .blue-splash;
    @include media-breakpoint-up(md) {
      background-image: url('/img/privacy/splash.jpg');
      background-position: 50% 50%;
      background-size: cover;
    }
  }

  &-student-block {
    @extend .student-block;
    display: flex;
    justify-content: center;

    & > * {
      margin-bottom: -75px;
      max-width: 200px;
      position: relative;
      top: -75px;
      @include media-breakpoint-up(md) {
        margin-bottom: -125px;
        top: -125px;
      }
    }
  }

  & .text {
    @extend .default-row;

    &-column {
      @extend .col-xs-12, .col-md-10, .offset-md-1, .col-xl-6, .offset-xl-3;
    }
  }
}

.about-page {
  & .fold .fold-block {
    @extend .col-xs-4;

    & h1 {
      font-size: 15vw;
      @include media-breakpoint-up(md) { font-size: 1000%; }
    }
  }

  & .information-block h3 {
    margin-bottom: 1rem;
    text-align: left;
  }
}

.error-page {
  min-height: 25vh;
  padding: 2rem 0;
  text-align: center;
}

.qf-Body {
  margin-top: 133px;
  text-align: center;
  @include media-breakpoint-up(md) { margin-top: 136px; }
}

.qf-Header {
  background-color: $light-blue;
  color: $primary-text-light;

  & h1 {
    margin-bottom: 50px;
  }
}

.qf-Images {
  @extend .default-row;

  & img {
    width: 85%;
  }
}

.qf-TextHeader {
  background-color: $primary-blue;
  color: $primary-text-light;

  & h1 {
    margin-bottom: 50px;
  }
}

.qf-Text {
  text-align: left;
}

.qf-TextBlock {
  @extend .col-xs-12, .col-lg-8, .offset-lg-2, .col-xl-6, .offset-xl-3;
  margin-bottom: 60px;

  & h2 {
    margin-bottom: 30px;
  }

  & h5 {
    margin: 30px 0;
  }

  & a {
    color: $primary-blue;
    text-decoration: underline;
  }
}

.blog-page-content {
  background-color: $primary-white;
}

.blog-post-page {
  background-color: white;
}

.blog-posts {
  @extend .col-lg-8;
}

.blog-post {
  background-color: white;
  box-shadow: 6px 6px 0px 0px #758189;
  margin-bottom: 50px;
}

.blog-tags {
  margin-bottom: 1rem;
}

.blog-tag {
  font-weight: bold;
  text-decoration: underline;
}

.blog-content {
  padding: 30px;

  & a {
    color: $primary-blue;
    text-decoration: underline;
  }
}

.blog-content-link {
  text-decoration: underline;
}

.blog-sidebar {
  @extend .col-lg-4;
  padding: 0 100px;

  &-topics {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  & h1 {
    color: $primary-green;
  }

  & a {
    &:before {
      content: "\00BB ";
    }
  }

  & ul {
    padding-left: 0 !important;
    list-style-type: none;
  }
}

.blog-full-header, .blog-header {
  background-color: $light-blue;
  color: $primary-text-light;
  text-align: center;

  & h1 {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
}

.blog-full-post {
  & img, iframe {
    display: block;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.share-buttons {
  margin-top: 30px;
}
