.base-splash {
  @extend .row;
  padding: 3rem 0;
  @include media-breakpoint-up(md) { padding: 6rem 0; }

  & .action-block {
    justify-content: flex-start;
    margin: 2rem 0;
  }
}

.block-colour {

  &:nth-of-type(3) > div {
    background-color: $primary-blue;
    color: $primary-text-light;
  }
}

.text-splash {
  @extend .row;
  align-items: center;
  background-color: $primary-blue;
  color: $primary-text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  text-align: center;

  & img {
    height: auto;
    margin-bottom: 2rem;
    max-width: 200px;
    width: 25%;
  }
}

.information-row {
  @extend .row;
}

.text-row {
  @extend .row;
  padding: 3rem 0;
  text-align: center;

  & h1 + h5 {
    margin-top: 2rem;
  }

  & h5 {
    line-height: 2rem;
  }
}

.about-page-splash {
  @extend .text-splash;
  @include media-breakpoint-up(sm) {
    background-image: url('/img/about/splash.jpg');
    background-position: center;
    background-size: cover;
  }
}

.course-payment {
  @extend .default-row;
  background-color: $primary-blue;
  color: $primary-text-light;
  text-align: center;

  & h1 {
    color: $primary-green;
    margin-bottom: 2rem;
  }

  &-city-select, &-date-select {
    @extend .row;
    margin-top: 2rem;
  }

  &-city-select {

    & input {
      display: none;
    }

    & select {
      background: white;
      color: $primary-text-dark;
      height: 3rem;
      width: 60%;
    }

    & .option {
      color: $primary-text-dark;
    }
  }

  &-date-select table {
    border-collapse: separate;
    border-spacing: 0 1rem;
    display: none;
    padding: 0 1rem;
    width: 100%;

    & th {
      text-align: center;
    }

    & tr:nth-child(even) {
      background-color: lighten($primary-blue, 5%);
    }

    & td {
      max-width: 8vw;
      padding: 1rem;
    }

    & th:nth-child(1), td:nth-child(1) {
      display: none;
      @include media-breakpoint-up(sm) { display: table-cell; }
    }
  }
}

.module-splash {
  @extend .default-row;
  background-color: $light-blue;
  color: $primary-text-light;

  &-text {
    @extend .col-xs-7;

    & .action-block {
      justify-content: flex-start;
    }

    & > * {
      margin-top: 2rem;
    }
  }
}

.module-highlights {
  @extend .default-row;

  &-text, &-image {
    @extend .col-xs-12, .col-md-6;

    & h1 {
      margin-bottom: 2rem;
    }

    & .action-block {
      justify-content: flex-start;
    }
  }

  &-image {
    text-align: center;

    & img {
      box-shadow: 3px 3px 9px 0px #758189;
      margin-bottom: 2rem;
      width: 90%;
      @include media-breakpoint-up(lg) { width: 60%; }
    }
  }
}

.module-topics {
  @extend .default-row;
  background-color: $primary-white;

  &-header, &-text {
    @extend .col-xs-12;
  }

  &-header {
    @extend .col-lg-4;
  }

  &-text {
    @extend .col-lg-8;
  }
}
