$light-blue: #68B5C6;
$primary-white: #F4F4F4;
$primary-grey: #758588;
$primary-blue: #455560;
$primary-green: #8CD024;
$primary-text-dark: #292F33;
$primary-text-light: #ECF0F1;
$secondary-text: #5A6775;
